*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
}

.bg {
  position: fixed;
  inset: 0;
  background-image: url('images/cezanne-sainte-victoire.webp');
  background-size: cover;
  background-position: center;
  z-index: 0;
}
